<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="paulrobinson.net" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/reset.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/syntax.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="paulrobinson.net - Atom" href="http://feeds.feedburner.com/paulrobinson/atom" />
    <title>Paul Robinson &mdash; {{ page.title }}</title>
    {% include analytics.html %}

    </head>
    <body>
      <div id="container">
      <a href="/"><img src="/pdesulogo.png"/></a>
      <div id="header"> 
        <ul>
          <li><a href="/archive.html" title="Archive">Archive</a></li>
		  <li><a href="http://www.flickr.com/photos/paulrobinson" title="Photos">Flickr</a></li>
		  <li><a href="http://twitter.com/paulr" title="Twitter">Twitter</a></li>
	    </ul>
      </div>
     
      {{ content }}
      
    </div>
  </body>
</html>
